
body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url(img,bg.png);
}

a:focus { outline: none; }
a img { border: none; }

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.65);
    margin: 8px 0px;
}

h1 { font-size: 28pt; }
h2 { font-size: 25pt; }
h3 { font-size: 22pt; }
h4 { font-size: 19pt; }
h5 { font-size: 16pt; }
h6 { font-size: 13pt; }

p { text-align: justify; }

#site {
    overflow: hidden;
    margin: 48px auto;
    padding: 10px 0px;
    position: relative;
    width: 960px;
    height: 550px;
    background-color: #d3d7cf;
    background: -webkit-gradient(radial, center top, 0, center top, 480, from(#ffffff), to(#d3d7cf));
    background: -moz-radial-gradient(center top, #ffffff,  #d3d7cf 480px);
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0px 0px 48px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 48px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 0px 48px rgba(0, 0, 0, 0.25);
}

#menu {
    position: relative;
    overflow: hidden;
    padding-bottom: 32px;
}

#menu h1 {
    font-weight: normal;
    font-size: 28pt;
    padding-left: 24px;
    margin-top: 12px;
    margin-bottom: 0px;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.65);
}

#menu a {
    text-align: center;
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 0px white;
    font-size: 10pt;
}

#menu img {
    height: 48px;
    width: 48px;
}

#menu #line {
    position: absolute;
    bottom: -8px;
    height: 32px;
    width: 1280px;
    background-image: url(img,line.png);
    background-repeat: repeat-x;
}

#main {
    position: relative;
}

.slide {
    position: absolute;
    width: 960px;
}

.image {
    border-radius: 8px;
    box-shadow: inset 2px 2px 8px black;
}

#legal {
    position: absolute;
    bottom: 8px;
    text-align: center;
    font-size: 8pt;
    left: 8px;
    right: 8px;
    color: #7F7F7F;
}

#line,
.slide {
    transition-duration: 600ms;
    transition-timing-function: ease-in-out;
    -o-transition-duration: 600ms;
    -o-transition-timing-function: ease-in-out;
    -moz-transition-duration: 600ms;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-duration: 600ms;
    -webkit-transition-timing-function: ease-in-out;
}

#site.slide0 #line {
    transform: translate(-240px);
    -o-transform: translate(-240px);
    -moz-transform: translate(-240px);
    -webkit-transform: translate3D(-240px, 0px, 0px);
}

#site.slide1 #line {
    transform: translate(-160px);
    -o-transform: translate(-160px);
    -moz-transform: translate(-160px);
    -webkit-transform: translate3D(-160px, 0px, 0px);
}

#site.slide2 #line {
    transform: translate(-80px);
    -o-transform: translate(-80px);
    -moz-transform: translate(-80px);
    -webkit-transform: translate3D(-80px, 0px, 0px);
}

#site.slide3 #line {
    transform: translate(0px);
    -o-transform: translate(0px);
    -moz-transform: translate(0px);
    -webkit-transform: translate3D(0px, 0px, 0px);
}

#site.slide4 #line {
    transform: translate(80px);
    -o-transform: translate(80px);
    -moz-transform: translate(80px);
    -webkit-transform: translate3D(80px, 0px, 0px);
}

#site.slide0 .slide {
    transform: translate(0px);
    -o-transform: translate(0px);
    -moz-transform: translate(0px);
    -webkit-transform: translate3D(0px, 0px, 0px);
}

#site.slide1 .slide {
    transform: translate(-960px);
    -o-transform: translate(-960px);
    -moz-transform: translate(-960px);
    -webkit-transform: translate3D(-960px, 0px, 0px);
}

#site.slide2 .slide {
    transform: translate(-1920px);
    -o-transform: translate(-1920px);
    -moz-transform: translate(-1920px);
    -webkit-transform: translate3D(-1920px, 0px, 0px);
}

#site.slide3 .slide {
    transform: translate(-2880px);
    -o-transform: translate(-2880px);
    -moz-transform: translate(-2880px);
    -webkit-transform: translate3D(-2880px, 0px, 0px);
}

#site.slide4 .slide {
    transform: translate(-3840px);
    -o-transform: translate(-3840px);
    -moz-transform: translate(-3840px);
    -webkit-transform: translate3D(-3840px, 0px, 0px);
}
